:root {
    --lightblack: #323232;
    --red: #a73434;
    --gray: #c8c8c8;
    --orange: #dc9d62;
    --sunset: #f3d27b;  
    --offwhite: #f8f8f8;
    --lightgray: #dedede;
}

/* Center form horizontally with a max width */
#blogContent {
    max-width: 600px; 
    margin: 0 auto; 
    padding: 20px;
    background-color: var(--offwhite);
    border: 1px solid var(--lightgray);
    border-radius: 5px;
}

.post {
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--offwhite);
    border: 1px solid var(--lightgray);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
}

.post h2 {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: bold;
    color: var(--lightblack);
    text-shadow: 1px 1px var(--offwhite);
}

.post p {
    margin-bottom: 15px;
    color: var(--lightblack);
    text-shadow: 1px 1px var(--offwhite);
}

.post .author {
    margin-top: 15px;
    font-style: italic;
    text-align: right;
    color: var(--lightblack);
    text-shadow: 1px 1px var(--offwhite);
}

/* Dark mode styles */
body.dark-mode #blogContent {
    background-color: var(--lightblack);
    border-color: var(--red);
    color: var(--offwhite);
    box-shadow: 0 0 5px var(--red);
}

body.dark-mode .post {
    background-color: var(--gray);
    border-color: var(--red);
    color: var(--offwhite);
    box-shadow: 0 0 15px var(--red);
}

body.dark-mode .post h2 {
    color: var(--lightblack);
    text-shadow: 1px 1px var(--lightgray);
}

body.dark-mode .post p {
    color: var(--lightblack);
    text-shadow: 1px 1px var(--lightgray);
}

body.dark-mode .post .author {
    color: var(--lightblack);
    text-shadow: 1px 1px var(--lightgray);
}

/* Styles for footer */
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: var(--offwhite);
    border-top: 1px solid var(--lightgray);
}

footer a {
    color: var(--gray);
    text-decoration: none;
}

footer a:hover {
    color: var(--orange);
}

/* Dark mode styles for footer */
body.dark-mode footer {
    background-color: var(--lightblack);
    border-top-color: var(--red);
}

body.dark-mode footer a {
    color: var(--offwhite);
    text-shadow: 1px 1px var(--red);
}

body.dark-mode footer a:hover {
    color: var(--sunset);
    text-shadow: 1px 1px var(--red);
}

/* STyles for back button */
button#backButton {
    background-color: var(--gray);
    color: var(--offwhite);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    padding: 11px 20px;
    margin-left: 10px;
}

button#backButton:hover {
    background-color: var(--orange);
}

/* Dark mode styles for back button */
body.dark-mode button#backButton {
    background-color: var(--sunset);
    box-shadow: 0 0 5px var(--orange);
}

body.dark-mode button#backButton:hover {
    background-color: var(--orange);
}
