:root {
    --lightblack: #323232;
    --red: #a73434;
    --gray: #c8c8c8;
    --orange: #dc9d62;
    --sunset: #f3d27b;  
    --offwhite: #f8f8f8;
    --lightgray: #dedede;
}

/* Center form horizontally with a max width */
form {
    max-width: 600px; 
    margin: 0 auto;
    padding: 20px;
    background-color: var(--offwhite);
    border: 1px solid var(--lightgray);
    border-radius: 5px;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input[type="text"],
form textarea {
    width: 100%; /* Full width for input and textarea */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--lightgray);
    border-radius: 4px;
    box-sizing: border-box;
}

form textarea {
    height: 150px;
    resize: none; /* Prevents text area resizing.. for no reason what-so-ever it could suddenly be resized, and this line fixed it */
}

form button {
    color: var(--offwhite);
    background-color: var(--gray);
}

form button:hover {
    background-color: var(--orange);
}

/* Dark mode styles for form */
body.dark-mode form {
    background-color: var(--lightblack);
    border-color: var(--red);
    color: var(--offwhite);
    box-shadow: 0 0 5px var(--red);
}

body.dark-mode form input[type="text"],
body.dark-mode form textarea {
    background-color: var(--gray);
    border-color: var(--red);
    color: var(--red);
    box-shadow: 0 0 15px var(--red);
}

body.dark-mode form button {
    background-color: var(--sunset);
    box-shadow: 0 0 5px var(--orange);
}

body.dark-mode form button:hover {
    background-color: var(--orange);
}
