:root {
    --lightblack: #323232;
    --red: #a73434;
    --gray: #c8c8c8;
    --orange: #dc9d62;
    --sunset: #f3d27b;  
    --offwhite: #f8f8f8;
    --lightgray: #dedede;
}

body {
    background-color: var(--offwhite);
    color: var(--lightblack);
}

body.dark-mode {
    background-color: var(--lightblack);
    color: var(--offwhite);
}

header {
    text-align: center;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button#themeToggle {
    background-color: var(--gray);
    color: var(--offwhite);
}

button#themeToggle:hover {
    background-color: var(--orange);
}

body.dark-mode button#themeToggle {
    background-color: var(--sunset);
    text-shadow: 0 0 5px var(--orange);
    box-shadow: 0 0 5px var(--orange);
}

body.dark-mode button#themeToggle:hover {
    background-color: var(--orange);
}
