:root {
    --lightblack: #323232;
    --red: #a73434;
    --gray: #c8c8c8;
    --orange: #dc9d62;
    --sunset: #f3d27b;  
    --offwhite: #f8f8f8;
    --lightgray: #dedede;
}

body {
    background-color: var(--offwhite);
    color: var(--lightblack);
}

body.dark-mode {
    background-color: var(--lightblack);
    color: var(--offwhite);
}

header {
    text-align: center;
    margin: 20px 0;
}

button#themeToggle {
    background-color: var(--gray);
    color: var(--offwhite);
}
